<div class="header">
<ul class="topnav" id="myTopnav">

  <li>
    <div class="logo-icon">
      <a routerLink="/">
        <div class="circle"></div>
        <img src="../../assets/Graphics/hh-logo.svg" alt="logo" class="logo">

      </a>
    </div>
  </li>
  <li>
    <a href="javascript:void(0);" onclick="myImageFunction()" routerLink="house">THE HOUSE</a>
  </li>

  <li>
    <a routerLink="hermanus">HERMANUS</a>
  </li>

  <li>
    <a>THINGS TO DO</a>
  </li>

  <li>

    <div class="logo-icon">
      <a ng-click="myClickFunction()" routerLink="/">
        <div class="circle"></div>
        <img src="../../assets/Graphics/hh-logo.svg" alt="logo" class="logo">
      </a>
    </div>

  </li>

  <li>
    <a>RATES & BOOKINGS</a>
  </li>

  <li>
    <a>GALLERY</a>
  </li>

  <li>
    <a>JOURNAL</a>
  </li>
  <li class="liIcon">
    <a href="javascript:void(0);" class="navicon" onclick="myFunction()">

      <div class="nav-mobile-all">
        <span class="nav-mobile-line"></span>
        <span class="nav-mobile-line"></span>
        <span class="nav-mobile-line"></span>
        <span class="nav-mobile-text">Menu</span>
      </div>
    </a>
  </li>
  <div class="bg-panel"></div>
</ul>
</div>


