<div class="header">
  <div class="content--container header__nav">
    <hh-icons [inlineSVG]="'#icon__logo'"
               [injectComponent]="true"
               class="header__nav-logo">
    </hh-icons>
    <ul class="header__nav-list">
      <a [routerLink]="['']">Home</a>
      <a [routerLink]="['/history']">History</a>
      <a>Our Team</a>
      <a>Patients</a>
      <a>Services</a>
      <a>Contacts</a>
    </ul>
    <div class="header__nav-menu">
      <hh-icons [inlineSVG]="'#menu-icon'"
                 class="icon">
      </hh-icons>
    </div>
  </div>


<ul class="topnav" id="myTopnav">

  <li>
    <div class="logo-icon">
      <a routerLink="/">
        <div class="circle"></div>

      </a>
    </div>
  </li>
  <li>
    <a href="javascript:void(0);" onclick="myImageFunction()" routerLink="house">THE HOUSE</a>
  </li>

  <li>
    <a routerLink="hermanus">HERMANUS</a>
  </li>

  <li>
    <a>THINGS TO DO</a>
  </li>

  <li>

    <div class="logo-icon">
      <a ng-click="myClickFunction()" routerLink="/">
        <div class="circle"></div>
        <img src="../../assets/Graphics/hh-logo.svg" alt="logo" class="logo">
      </a>
    </div>

  </li>

  <li>
    <a>RATES & BOOKINGS</a>
  </li>

  <li>
    <a>GALLERY</a>
  </li>

  <li>
    <a>JOURNAL</a>
  </li>
  <li class="liIcon">
    <a href="javascript:void(0);" class="navicon" onclick="myFunction()">

      <div class="nav-mobile-all">
        <span class="nav-mobile-line"></span>
        <span class="nav-mobile-line"></span>
        <span class="nav-mobile-line"></span>
        <span class="nav-mobile-text">Menu</span>
      </div>
    </a>
  </li>
  <div class="bg-panel"></div>
</ul>
</div>


