<div class="home-hero">
       <div class ="hh-logo">
          <hh-icons [inlineSVG]="'#icon__title'"
                    [injectComponent]="true"
                     class="icon">
          </hh-icons>
         <div></div>
        <h3>
          Hermanus Self-Catering Guest House
        </h3>
     </div>
    <div id="hero-image" class ="heron-bg-01">
    </div>
  <ul [inlineSVG]="'#icon__mark'"
      class="qss-logo">
  </ul>
    sdfdsdsf
  <div [inlineSVG]="'#icon__title'"
            class="icon">
  </div>
</div>






