
/*Remove this when I uncomment app.component */
html, body {
  height: 100%;
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


p {


  font-size: 11px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  color: #9e9e9e;
  font-weight: 300;
  margin: 0 auto;
  max-width: 1920px;
  padding : 0px;


}



h1 {
  font-size: 47px;
  line-height: 46px;
  font-family: 'Cormorant Infant', serif;
  color: #3B5E8C;
  margin: 0;
  padding: 0px;
  display: block;
  letter-spacing: 4px;

}

h2 {

  font-size: 32px;
  line-height: 0px;
  font-family: 'Cormorant Infant', serif;
  color: #3B5E8C;
  margin: 0;
  padding: 13px 0 13px 0;
  display: block;
  letter-spacing: 2px;


}


h3 {

  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: #fff;


}

.title-small {

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;

  line-height: normal;
  text-align: center;
  color: #3B5E8C;


}

.title-big {

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: normal;
  text-align: center;
  color: #3B5E8C;

}

header {

  display:block;
  width:100%;
  height:60px;
  background-color: white;
  position:relative;
}




/*------------------------------------------------- Nav & Ul's ---------------------------------------------------------------------*/





.hh-logo-title {


  margin-left: auto;
  margin-right: auto;
  padding: 110px 0px 17px 0px;
  width: 320px;


}

.hh-logo {

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  filter: drop-shadow(0 0 0.06em rgba(0, 0, 0, 0.5));

}


.hh-logo path {
  fill: white;

}




/*------------------------------------------------- Nav & Ul's ---------------------------------------------------------------------*/






.home-sidekick {


  position: relative;
  height: 345px;
  width: 100%;
  padding: 40px 0px;
  z-index: -1;

}


.home-sidekick img {

  opacity: 0.3;
  position: absolute;
  bottom: 0px;
  float: right;
  left:0px;
  width: 930px;
  z-index: -1;

}






.text-bg {

  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  width: 341px;
  top: -11px;
  height: 30px;
  background-color: #fff;
}

.home-hero .heron-bg-01 {

  background: url(./assets/Graphics/img-home-01.jpg) no-repeat center top fixed;

  height: 560px;
  background-position: 51% 0px;
  background-size: 1670px;


}



.home-hero .heron-bg-02 {

  background: url(./assets/Graphics/img-home-05.jpg) no-repeat center top fixed;

  height: 560px;
  background-position: 51% 0px;
  background-size: 1670px;

}




.layout-header {

  margin-top:150px;

}

.left {

  width:50%;
  float:left;
}

.right {

  width:50%;
  float: right;
}


.thumb-screens {

  margin: 27px 0px 0px 45px;
  width: 365px;
}

.thumb-screens img {

  padding: 5px;
  width: 170px;
}

.image5 {

  display:none;
}

.info-box {

  float: right;
  margin-left: 18%;

}

.inner-info-box {

  margin-left: 13%;

}










.icon {


  position: absolute;
  width: 50px;
  margin-left: 9%;
}

.title-box {

  width:100%;
}

.divide-inner {

  position: relative;

}


.title-box-small {

  float: left;
  clear: both;
  margin-left: 29%;
}





.in-blurb {

  max-width: 360px;
  float: left;
  padding: 40px 0px 22px 0px;

}

.icon path {


  width:200px;
  fill: #FFE05F;

}​


 .in-blurb.btn-block {
   text-align: center;

 }

.btn-block {

  cursor: pointer;
  padding: 15px 0;
  display: inline-block;
  text-align: center;
  width: 100%;


}

.btn-booknow {

  display: inline-block;
  width: 107.3px;
  font-size: 20px;
  font-weight: 700;
  padding: 12.7px 5px;
  border: 2px solid #9e9e9e;;

}

.text-padding {

  padding: 25px 33px;

}



.btn-booknow:hover {
  background: #FFE05F;
  border: 2px solid #3B5E8C;
}

.btn-booknow:hover h3{

  color: #3B5E8C;


}


.btn-booknow h3 {

  color: #9e9e9e;

  letter-spacing: 1px;

}

.learn-more-layout {

  float: left;
  width: 33.33%;
  padding: 0 35px;
  box-sizing: border-box;
  text-align: center;
}




.learn-more {

  width: 100%;
  max-width: 970px;
  margin: 0 auto 170px auto;
  padding: 160px 0;
  text-align: center;
  clear:both;

}


.learn-more-layout .hh-panel {


  background: white;
  min-height: 350px;
  position: relative;
  padding: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: white;


}



.active .fader{

  content: '';
  opacity:1;
  transform: translateY(0px);

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all 1s ease-in-out;
  transition-delay: 1.5s;

}

.fader {

  content: '';
  display: table-footer-group;
  opacity:0;
  transform: translateY(10px);

}


/*.learn-more-layout .hh-panel span.border-topright:before {*/
  /*content:'';*/
  /*position: absolute;*/
  /*top:0;*/
  /*left:0;*/
  /*width:0;*/
  /*height:1px;*/
  /*background:#FFE05F;*/
  /*-webkit-transition: all .5s ease-in-out;*/
  /*-moz-transition: all .5s ease-in-out;*/
  /*-o-transition: all .5s ease-in-out;*/
  /*transition: all .5s ease-in-out;*/

/*}*/


/*.learn-more-layout .hh-panel.active span.border-topright:before {*/

  /*width:100%;*/

/*}*/


/*.learn-more-layout .hh-panel span.border-topright:after {*/

  /*content: '';*/
  /*position: absolute;*/
  /*top:0;*/
  /*right:0;*/
  /*width: 1px;*/
  /*height:0;*/
  /*background: #FFE05F;*/
  /*-webkit-transition: all .5s ease-in-out;*/
  /*-moz-transition: all .5s ease-in-out;*/
  /*-o-transition: all .5s ease-in-out;*/
  /*transition: all .5s ease-in-out;*/

/*}*/


/*.learn-more-layout .hh-panel.active span.border-topright::after {*/

  /*height:100%;*/

  /*transition-delay: .5s;*/

/*}*/


/*.learn-more-layout .hh-panel span.border-bottomleft:before {*/
  /*content:'';*/
  /*position: absolute;*/
  /*bottom:0;*/
  /*right:0;*/
  /*width:0;*/
  /*height:1px;*/
  /*background:#FFE05F;*/
  /*-webkit-transition: all .5s ease-in-out;*/
  /*-moz-transition: all .5s ease-in-out;*/
  /*-o-transition: all .5s ease-in-out;*/
  /*transition: all .5s ease-in-out;*/

/*}*/


.learn-more-layout .hh-panel.active {

  background-color: red;
}


/*.learn-more-layout .hh-panel.active span.border-bottomleft:before {*/

  /*width:100%;*/
  /*transition-delay: 1s;*/
/*}*/


/*.learn-more-layout .hh-panel span.border-bottomleft:after {*/

  /*position: absolute;*/
  /*content:'';*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*width: 1px;*/
  /*height: 0;*/
  /*-webkit-transition: all .5s ease-in-out;*/
  /*-moz-transition: all .5s ease-in-out;*/
  /*-o-transition: all .5s ease-in-out;*/
  /*transition: all .5s ease-in-out;*/
  /*background: #FFE05F;*/

/*}*/

/*.learn-more-layout .hh-panel.active span.border-bottomleft:after {*/
  /*height:100%;*/
  /*transition-delay: 1.5s;*/

/*}*/





.learn-more-layout .btn-block {

  position: absolute;
  bottom: 0;
  left: 0;

}











.pad-right {
  padding: 0 0 0 73px;


}



.pad-left {

  padding: 0 73px 0 0;

}

.learn-icon path{
  fill:#9e9e9e;

}



.learn-icon {

  padding: 18px 12px 12px 12px;
  margin: auto;
  width: 130px;

}

.learn-more-layout .title-big, .title-small {

  color: #9e9e9e;
}




.learn-more-layout .hh-panel:hover .title-small{

  color: #3B5E8C;;

}

.learn-more-layout .hh-panel:hover .title-big{

  color: #3B5E8C;;

}



.learn-more-layout .hh-panel:hover .learn-icon path {

  fill: #3B5E8C;

}



.clear-me {

  clear: both;
}

.footer-container h3 {
  padding: 34px;
}




#site-footer {

  display: inline-block;
  width: 100%;
  background-color: #17212b;
  max-height: 210px;
  padding: 50px 0px;

}


.nav-mobile-line {
  display: block;
  width: 31px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 0;
  background: #fff;

}

.nav-mobile-text {

  font-size: 9px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color:#fff;
}



/*------------------------------------------------- Heron House House page ---------------------------------------------------------------------*/

.hh-house .right {

  width: 50%;
}


.hh-house .house-image {

  width: 550px;

}



.house-image img{


  width: 100%;

}


.hh-house .title-box-small-second  {

  padding: 0px

}








.title-box-big {
  float: left;
  clear:both;
  margin-top: -4px;
  margin-left: 17%;
}

.title-box-big-second {


  margin-left: 24%;
  margin-top: 3px;
}
.title-box-small-second {


  clear: both;
  display: inline-block;
  margin-left: 17%;
  padding-top: 5px;
  padding-left: 6px;
}




/*------------------------------------------------- Heron House House page ---------------------------------------------------------------------*/


/*------------------------------------------------- Media enquiries ---------------------------------------------------------------------*/




@media only screen and (max-width: 1345px)  {

  #container {
    width : auto;

  }

}





@media screen and (max-width: 960px) {



  .logo-icon {

    position: relative;
    top: -6px;
  }



  .circle {

    width: 76px;
    height: 76px;
    top: 14px;
    left: 12px;

  }

  .logo {

    width: 100px;
    height: 100px;

  }


  .topnav li {

    padding: 0px;
    margin-right: 0px;
  }


  .in-blurb .text-padding {

    padding: 0px;

  }

  .text-padding {

    padding: 25px 0;
  }


  .topnav.responsive .navicon liIcon{
    position: absolute;
    right: 0;
    top: 0;
  }



  .home-hero .heron-bg-01{


    height: 400px;
    background-position: 55% -100px;
    background-size: 1670px;
    background-attachment: fixed;

  }






  #myTopnav.topnav.responsive {
    display: block;

  }

  #myTopnav.topnav.responsive li:hover {
    background-color: #3b5e8c;;

  }


  .pad-left, .pad-right, .learn-more-layout {

    padding: 0px 20px;
  }


  .home-sidekick {

    height: 40px;


  }

  .home-sidekick img {

    width: 710px;
    left: -64px;
    bottom: 0px;
  }





  .navicon {

    display: block;
    padding: 5px;
    background-color: #3B5E8C;
  }





  /*------------------------------------------------- Collapsed Nav Bar TOGGLE ---------------------------------------------------------------------*/



  .bg-panel {

    display: none;
    position: absolute;
    top: 45px;
    background-color: #f1f1f1;
    height: 400px;
    width: 100%;
    z-index: +1;

  }







  /*------------------------------------------------- Collapsed Nav Bar TOGGLE ---------------------------------------------------------------------*/

  .topnav li.liIcon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    float: right;

  }



  .content .layout-header .left {
    width: 37%;
    height: 450px;
    margin-left: 0px
  }

  .content .layout-header .right {
    display: flex;
    align-items: center;
    width:57%;
    height: 450px;
  }


  .thumb-screens {


    float: right;
    margin: 27px 0px 0px 0px;

  }


  .screens-container {

    width: 364px;
  }

  .home-hero {
    height: 400px;
  }

  .hh-logo {

    padding: 0px 0px 21px 0px;
    width:100%;
  }


  .hh-logo-title {

    padding: 90px 0px 21px 0px;
    width: 300px;

  }

  .title-box-big {

    float:none;
    clear:none;
    margin-left: 0;
    display: inline-block;
  }

  .info-box {

    margin: 35px 0 0 25%;
    text-align: center;
  }

  .inner-info-box {

    margin-left: 0;

  }



  .title-box-small {
    margin-left: 0;
    float:none;

  }

  .title-box-big-second {

    display: inline-block;
    float: none;
    clear:none;
    margin-left: 0;
  }


  .in-blurb {

    padding: 32px 0px 13px 0px;

  }

  .image-layout {

    padding-top: 0;
  }

  .learn-more {

    padding: 120px 0;
    margin: 0 auto 0 auto;
    display: inline-block;

  }

  .learn-icon {

    width: 110px;
    padding: 18px 0px 12px 0px;
  }

  .learn-more-layout .hh-panel {

    min-height: 340px;

  }

}



@media screen and (max-width: 660px) {





  .layout-header {

    margin-top: 95px;

  }

  .content .layout-header .right {

    display: inline-block;
    margin-top: 30px;
    width:100%;

  }

  .content .layout-header .left {

    width: 100%;
    height: 350px;
    margin:0;

  }

  .screens-container {

    margin: 0 auto;
    width: 450px;
  }

  .thumb-screens {

    text-align: center;
    width: 100%;
    margin-left: 0px;

  }

  .info-box {

    float:none;
    margin-left: 0;
    text-align: center;
  }


  .title-box-big {

    margin-left: 0;
    display: inline-block;
  }



  .title-box-small {
    margin-left: 0;
    float:none;

  }

  .title-box-big-second {

    display: inline-block;
    float: none;
    margin-left: 0;
  }


  .in-blurb {

    float: none;
    margin: auto;

  }

  .learn-more {

    padding: 38px 0;
    display: inline-block;

  }



  .home-sidekick {

    height: 101px;
    width: 100%;


  }



  .home-sidekick img {


    position: absolute;
    width: 1030px;
    right: 0%;
    left: inherit;
    bottom: -106px;
    float: none;

  }

  .text-padding {

    padding: 25px 33px;

  }


  .learn-more-layout {


    width: 100%;
    padding: 41px 100px;

  }


  .image-layout .left {

    width: 100%;
    height:100%;
  }

  .image-layout .right {

    width: 100%;
    height:100%;

  }


  .learn-more-layout .hh-panel {

    min-height: 295px;

  }





}



@media screen and (max-width: 480px) {



  .left {

    height: 350px;
  }


  .screens-container {

    width: 100%
  }


  .learn-more {

    padding: 0px;
  }

  .learn-more-layout {

    padding: 0px 40px 40px 40px;
  }


}
